*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color:#f7f1f1 !important;
}

.cajaSuperior{
  background-image: url(../img/chloe-bolton-R0qthXq3jec-unsplash.jpg);
height: 680px;
background-size: cover;
background-position: bottom;
}
.vid{
  height: 300px;
  border-radius: 10px;
  border: 10px white solid;
}

main{
    height: 100%;
    width: 100%;
}
header{

    background-color: transparent;
    width: 100%;
}
.navbar{
    background-color: transparent;
    font-weight: bolder;
}
.bgVideo{
width: 100%;
}
.cajaInferior{
  display: flex;
  gap: 5%;
  margin: 5%;
  height: 500px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about{
  width: 60%;
}
.about h1{
  font-family: 'Patrick Hand', cursive;
  font-size: 2rem;
}
.about p{
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  width: 100%;

}
.description{
  display: flex;
    gap: 5%;
}
.desContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;

}
.carrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5%;
    width: 100%;
}
.fotoCarr{
    width: 200px !important;
}
.btnContainer{
    width: 100%;
    position: absolute;
    bottom: 40%;
    display: flex;
    justify-content: center;
    gap: 8%;
}
.btnS{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:#f7f1f1 ;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family:'Patrick Hand', cursive;
    transition: all .5s ease;
    text-decoration: none;
    color: black;
    opacity: 90%;
}
.btnS:hover{
    letter-spacing: 3px;
    background-color: #E8E3CC;
    color: black;
    box-shadow: #E8E2D1 0px 7px 29px 0px;
}
.btnS:active{
    letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}
  .card{
    height:250px;
  }
  .products{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2% 5%;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    margin: 7%;
    justify-items: center;
    justify-content: center;
  }
  .box{
    font-family:'Patrick Hand', cursive;
  }
.card-body h2{
    font-size: 20px;
    font-family:'Patrick Hand', cursive;
}
.card-body h1{
    font-size: 15px;
    font-family:'Patrick Hand', cursive;
}
.imgPortada{
    width: 450px;
    border: 10px white solid;
}
.shopContainer{
    display: flex;
    flex-direction: row;
    margin: 5%;
    align-items: center;
    gap: 3%;
    justify-content: center;
}
.containerText{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.box.btnShop{
padding: 0%;
}
.containerText h2{
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 3rem;
}
.containerText p{
font-family:'Patrick Hand', cursive;
font-size: 2rem;
}
.box {
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
 .addBtn {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
.containerCarrusel{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}
.imgCarrusel{
  height: 250px;
  border-radius: 5px;
  border: 10px white solid;
}
.visit{
  display: flex;
  gap: 3%;
  flex-direction: row;
  align-items: center;
  width: 50%;
  text-decoration: none;
}
.visit h1{
  font-family:'Patrick Hand', cursive;
  color: black;
  text-decoration: none;
}
.imgProd{
  height: 200px;
}
.menu li a {
  font-family:'Patrick Hand', cursive;
}
.formContact{
	position: relative;
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../img/carrousel1.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../img/carrousel1.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
/* mediasquerys */
@media only screen and (max-width: 990px) {
.cajaSuperior {
  height: 500px;
} 
.vid{
  height: 200px;
}
.description{
  flex-direction: column;
}
.carrusel{
  gap: 0%;
}
.containerCarrusel{
  gap:0%
}
.imgCarrusel{
  height: 200px;
}
.imgPortada{
  width: 250px;
}
.containerText h2{
  font-size: 2rem;
}
.containerText p {
  font-size: 1.5rem;
}
.products{
  grid-template-columns: 200px 200px;
}
}
@media only screen and (max-width:663px){
.cajaSuperior{
  height: 450px;
  margin: 5%;
}
.cajaInferior{
  flex-direction: column-reverse;
  height: 0%;
}
.about{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.btnContainer{
  display: none;
}
.description{
  flex-direction: column;
}
.containerCarrusel{
  gap: 0%;
  flex-direction: column;
}
.carrusel{
  width: 90%;
  flex-direction: column-reverse;
}
.imgCarrusel{
  width: 150px;
}
span, svg {
  display: none;
}
.visit{
  width: 100%;
  justify-content: center;
}
.vid{
  height: 150px;
}

.imgPortada{
  width: 200px;
}
.containerText h2{
  font-size: 1rem;
  font-weight: 600;
} 
.containerText p{
  font-size: 1rem;
  font-weight: 600;
}
.containterProducts{
  width: 100%;
  display: flex;
    justify-content: center;
}
.products{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;

}
.formContact{
  display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box{
  width: 400px;
}
.right{
  width: 300px;
}
iframe{
  width: 200px;
}
}