*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color:#f7f1f1 !important;
}

.cajaSuperior{
background-image: url(../img/chloe-bolton-R0qthXq3jec-unsplash.jpg);
height: 600px;
    background-size: cover;
    background-position: bottom;
}
.portada{
  /* background-image: url(../img//1612248390736_0.webp);
  height: 100%; */
}
main{
    height: 100%;
    width: 100%;
}
header{
    height: 10vh;
    background-color: transparent;
    width: 100%;
}
.navbar{
    background-color: transparent;
}
.bgVideo{
width: 100%;
}
.cajaInferior{
    display: flex;
    gap: 5%;
    margin: 10%;
}
.about{
    width: 50%;
}
.carrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
}
.fotoCarr{
    width: 200px !important;
}
.btnContainer{
    width: 100%;
    position: absolute;
    bottom: 40%;
    display: flex;
    justify-content: center;
    gap: 8%;
}
.btnS{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:#f7f1f1 ;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    text-decoration: none;
    color: black;
}
.btnS:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
.btnS:active{
    letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}
.btnTienda{

}
nav{

}
  .card{
    height:250px;
  }
  .products{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 30px 9px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
    margin: 5%;
    justify-items: center;
}
.card-body{
    height: 200px;
}
.card-body h2{
    font-size: 20px;
}
.card-body h1{
    font-size: 15px;
}
.imgPortada{
    width: 300px;
}
.shopContainer{
    display: flex;
    flex-direction: row;
    margin: 10%;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}
.containerText{
    display: flex;
    flex-direction: column;
}


.box {
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
 .addBtn {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }